*.png
*.jpg
*.txt
*.gif
*.npy
tb/
tb*/
*.pyc
vision/
tmp/*
PointNet-PyTorch/
*.html
map_and_plan/mess2/
map_and_plan/mess3/
Deformable-DETR/models/ops/
*.avi
images/
*.mp4
Deformable-DETR/models/ops2
phase_base/messup/
utils/parser_solq.py
MT_images*/
*.zip
*DELETE*
metrics/*
SOLQ/models/ops/build
SOLQ/models/ops/dist
