ai2thor>=5.0.0
allenact
allenact_plugins[ithor]
stringcase
lru-dict
networkx
compress-pickle==2.1.0
packaging
tqdm
pillow
numpy==1.23.1
pandas
opencv-python
Pillow
scikit-video
tensorboardX
ffmpeg-python
matplotlib
ipdb
scikit-fmm
scikit-image
tensorboard
canonicaljson