setuptools==65.5.0
ai2thor==4.2.0
allenact==0.5.2
allenact_plugins[ithor]==0.5.2
stringcase
lru-dict
networkx
compress-pickle==2.1.0
packaging
tqdm
pillow
numpy
pandas
opencv-python
Pillow
scikit-video
tensorboardX
ffmpeg-python
matplotlib
ipdb
scikit-fmm
scikit-image
tensorboard
transformers
wandb